.sp_dim_card {
    height: 350px;
}

.sp_container_storie {
    margin-top: 28px;
}

/*Modification d'images*/

.spcarda {
    background: url("saryc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 60%;
}

.spcardb {
    background: url("sa4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 100%;
    opacity: 70%;
}

.spcardc {
    background: url("sarycb.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 100%;
    opacity: 70%;
}

.spcardd {
    background: url("sa2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 100%;
    opacity: 70%;
}

.spcarde {
    background: url("sa1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 100%;
    opacity: 70%;
}

/*Plus*/

.plus {
    font-size: 4em;
    color: #070707;
    text-align: center;
    margin-top: 55%;
    cursor: pointer;
    z-index: 99;
}