.ctn_pseudo_sary {
    width: 100px;
    height: 100px;
}

.ctn_anarana_fotoana {
    width: 125px;
    height: 100px;
}

.ctn_pub {
   padding-bottom: 10px;
}

.ctn_publication_legende {
    height: 50px;
    margin-top: 5px; 
}

.ctn_publication_sary {
    background-image: url("sa5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 5px;
}

/*Container reaction commenter*/
.ctn_publication_reaction {
    height: 40px;
    margin-top: 5px;   
}

.ctn_reaction, .ctn_nbr_reaction {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.ctn_commentaire {
    height: 40px;
}

.spcommentaire {
    outline: none;
}

.separatore {
    height: 3px;
}

.ctn_pseudo_sary {
    background: url("sarya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Plus de detaille*/

.plus_de_detaille {
    height: 25px;
    width: 100px;
    margin-top: 5px; 
    cursor: pointer;
}